streamlit==1.42.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
transformers==4.49.0
torch==2.2.2
h5py==3.13.0
spacy==3.8.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
pyserial==3.5

